<div class="info">
  <p class="day">{{ day() }}</p>
  <p class="current">{{ current() }}</p>
</div>

<div class="icons">
  <img [class.bright]="godIsBright()" ngSrc="/vectors/god.svg" alt="sun" width="72" height="72" />
  <img [class.bright]="dogIsBright()" ngSrc="/vectors/dog.svg" alt="moon" width="72" height="72" />
</div>

<div class="button-container">
  <button
    app
    (pointerdown)="keydown.emit()"
    (pointerup)="keyup.emit()"
  >
    <span class="plus">+</span>
  </button>
</div>

<div class="legend">
  <p class="legend--desktop">
    Press the button or ENTER key to add a random G or D.
    Use G or D to be more specific.
  </p>
  <p class="legend--mobile">
    Press the button to add a random G or D
  </p>
</div>


