@use '../../../styles/fonts.scss' as f;
@use '../../../styles/utils.scss' as u;

:host {
  /* position: absolute;
  right: 0; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */

  display: grid;
  grid-template-columns: auto auto auto;
  align-items: flex-end;
  row-gap: 0.375rem;

  grid-template-areas:
    'info info icons'
    'button button button'
    'legend legend legend';

  .info {
    grid-area: info;

    .day {
      // font-size: 1.25rem;
      font-size: 1rem;
      @include f.getFF(600, -0.05rem);
    }

    .current {
      // font-size: 4.5rem;
      // @include f.getFF(800, -0.2rem);
      font-size: 3.5rem;
      @include f.getFF(700, -0.2rem);
    }
  }

  .icons {
    grid-area: icons;
    padding-bottom: 0.5rem;

    display: flex;
    justify-content: flex-end;
    column-gap: 0.5rem;

    img {
      width: 48px;
      height: 48px;
    }

    img.bright {
      filter: brightness(5) saturate(6);
    }
  }

  .button-container {
    grid-area: button;

    button {
      width: 100%;
      .plus {
        font-weight: 800;
      }
    }
  }

  .legend {
    grid-area: legend;

    margin-top: 1rem;
    font-size: 0.875rem;
    @include f.getFF(600, -0.05rem);
  }

  @include u.media('t') {
    width: 100%;
  }
}
