@let day_ = day();
@let current_ = current();

@if (day_ && current_ !== null) {
  <div class="info">
    <p class="day" animate.enter="day--show">{{ day_ }}</p>
    <p class="current" animate.enter="current--show">{{ current_ }}</p>
  </div>

  <div class="icons" animate.enter="icons--show">
    @if (!disabled()) {
      <img [ngSrc]="godIsBright() ? '/vectors/god-selected.svg' : '/vectors/god.svg'" alt="sun" width="72" height="72"/>
      <img [ngSrc]="dogIsBright() ? '/vectors/dog-selected.svg' :  '/vectors/dog.svg'" alt="moon" width="72"
           height="72"/>
    } @else {
      <img class="blinking" ngSrc="/vectors/god-dis.svg" alt="sun" width="72" height="72"/>
      <img class="blinking" ngSrc="/vectors/dog-dis.svg" alt="sun" width="72" height="72"/>
    }
  </div>


<div class="button-container" animate.enter="button-container--show">
  <button
    app
    (pointerdown)="pointerIsDown.emit()"
    (pointerup)="pointerIsUp.emit()"
    (keydown.enter)="pointerIsDown.emit()"
    (keydown.space)="pointerIsDown.emit()"
    (keyup.enter)="pointerIsUp.emit()"
    (keyup.space)="pointerIsUp.emit()"
  >
    <span class="plus">+</span>
  </button>
</div>

<div class="legend" animate.enter="legend--show">
  <p class="legend--desktop">
    Press the button to add a random G or D.
    Use G or D to be more specific.
  </p>
  <p class="legend--mobile">
    Press the button to add a random G or D
  </p>
</div>

}


