@use '../../../styles/fonts' as f;

:host {
  position: relative;
  display: block;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: #00000050;
  }

  p {
    margin: 1rem 0;
    line-height: 1.5rem;

    strong {
      font-weight: 600;
    }
  }
}
