@use '../../../styles/fonts.scss' as f;
@use '../../../styles/utils.scss' as u;

:host {
  position: relative;
  width: 95vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  app-tachometer {
    margin-left: 5vw;
  }

  @include u.media('t') {
    width: 70vw;
  }

  @include u.media('tl') {
    max-width: 800px;
    flex-direction: row;
    align-items: center;

    app-tachometer {
      margin-left: 0;
    }
  }
}
