@use '../../../styles/fonts.scss' as f;

:host {
  position: relative;
  width: 95vw;
  height: 100%;
  // max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // align-items: flex-end;

  app-tachometer {
    margin-left: 5vw;
  }
  
}
